@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.title{
    display: inline-block;
    font-size: 40px;
}
.top{
    flex:auto;
    text-align: center;
}

.the{

    color:rgba(42, 252, 8, 1)


}
.tag{
    color: crimson;


}
.tech{
    font-size: 30px;
    font-style: italic;
    color: rgba(193, 193, 193, 0.87);
}
.end{
    color: rgba(13, 70, 218, 1);
}
body{
  background-color:   rgba(37, 37, 37, 1);
}

.desc{

    text-align: center;
    color: aliceblue;

}
.dropdown{
    padding-top: 30px;
    padding-left: 30px;

}

#language{
    padding:5px 10px ;
    border-radius: 10px;
    color:rgba(236, 241, 0, 1);
    background-color: rgba(63, 63, 63, 1);
    outline: none;
    border: none;

}
.editor{
    margin-top: 10px;
    margin-left: 28px;
    height:630px;
    background-color: rgba(0, 0, 0, 1);
    width: 807px;
    border-radius: 10px;
}
.textarea{


}